
#races-page    
    .ant-divider
        background: #908e8e
    .ant-table-pagination
        float: none
        text-align: center
    .unit-word
        font-size: 12px
    .pong-table
        max-width: 1000px
        margin: 0 auto
    .pong-body-content
        text-align: left